<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>Iconography</h1>
      <p>Icons are a valuable visual component to the GitLab brand; contributing to the overall visual language and user experience of a webpage, advertisement, or slide deck. The GitLab iconography currently consists of "label icons" and "content icons", each are explained in further detail below:</p>
      <h2>Label icons</h2>
      <p>Label icons are intended to support usability and interaction. These are found in interactive elements of the website such as navigation and <a href="https://about.gitlab.com/pricing/" target="_blank">toggles</a>.</p>
      <img 
        src="~/assets/images/brand/label-icons-example.png" alt="Label icons" 
        width="600px"
      />
      <h2>Content icons</h2>
      <p>Content icons are intended to provide visual context and support to content on a webpage; these icons also have a direct correlation to our illustration style with the use of bold outlines and fill colors.</p>
      <p>A few examples include our <a href="https://about.gitlab.com/events/aws-reinvent/" target="_blank">event landing pages</a> and <a href="https://about.gitlab.com/resources/" target="_blank">Resources page</a>.</p>
      <img 
        src="~/assets/images/brand/content-icons-example.png" alt="Content icons" 
        width="600px"
      />
    </div>
  </div>
</template>
